meta(charset='utf-8')
link(rel='stylesheet' href='styles.css' media='screen')
link(rel='stylesheet' href='/font-awesome-4.7.0/css/font-awesome.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js' integrity='sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf' crossorigin='anonymous')
link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6' crossorigin='anonymous')
meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
br
br
.container
    .row
        .col
        .col
        .col
            a(href='/faq') ананас
        .col
        .col
        .col
        .col
        .col

            button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal' data-bs-whatever='@mdo')
                i.fa.fa-plus-square(aria-hidden='true')
                    .m-2 create post



#exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title New post

                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                form#form
                    .mb-3
                        label.col-form-label(for='text') Message:
                        textarea(type='text' name='text')#text.form-control
                        br
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Send message

#exampleModal1.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h5#exampleModalLabel1.modal-title Rewrite post

                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                form#form1
                    .mb-3
                        label.col-form-label(for='text') Message:
                        textarea(type='text' name='text').form-control
                        br
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Rewrite

table.table.mt-5#table
        thead
            tr

                th Text
                th Likes
                th(colspan="2") Action

        tbody
            each post in message
                tr

                    td=post.text
                    td=post.likes
                    td
                        .btn-group(role='group' aria-label='Basic example')

                            button.btn.btn-secondary(type='button',data-id=post._id.toString())#like
                                i.fa.fa-thumbs-up(aria-hidden='true')
                            button.btn.btn-primary(type='button',data-id=post._id.toString() data-bs-toggle='modal' data-bs-target='#exampleModal1' data-bs-whatever='@mdo')#rewrite Rewrite
                                i.ms-2.fa.fa-paint-brush(aria-hidden='true')
                            button.btn.btn-primary.ps(type='button',data-id=post._id.toString())#delete Delete

                                i.ms-2.fa.fa-trash-o(aria-hidden='true')





script.
    $("#form").on("submit", function(){
        $.ajax({
            url: '/create',
            method: 'post',
            dataType: 'html',
            data: $(this).serialize(),
            success: function(data){
                window.location.replace('/')
            }
        });
    });
script.
    $("#form1").on("submit", function(){


        $.ajax({
            url: '/rewrite/'+localStorage.getItem('currentId'),
            method: 'post',
            dataType: 'html',
            data: $(this).serialize(),
            success: function(data){
                window.location.replace('/')
            }
        });
    });
script.
    $("button#like").on("click", function() {

        $.ajax({
            url: '/like/'+$(this).data('id'),
            method: 'post',
            dataType: 'html',
            data: $(this).serialize(),
            success: function(data){
                window.location.replace('/')
            }
        });
    });
script.
    $("button#delete").on("click",function() {

        $.ajax({
            url: '/post_delete/'+$(this).data('id'),
            method: 'get',
            dataType: 'html',
            data: $(this).serialize(),
            success: function (data) {
                window.location.replace('/')
            }
        });
    });
script.
    $('button#rewrite').on("click",function() {
        localStorage.setItem('currentId',$(this).data('id'))

    })