meta(charset='utf-8')
link(rel='stylesheet' href='styles.css' media='screen')
link(rel='stylesheet' href='/font-awesome-4.7.0/css/font-awesome.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js' integrity='sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf' crossorigin='anonymous')

link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6' crossorigin='anonymous')
meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
font(face='comic sans ms')

    .container
        .row
            .col.align-self-start
                | Ананас богат различными витаминами и минералами и в основном оказывает положительное влияние на организм. Тем не менее, зачастую ценят его не за стандартный набор полезных веществ, которые можно найти и в любом другом фрукте, а за некий фермент бромелайн, сосредоточенный в основном в сердцевине плода. Ходят даже легенды о том, что этот энзим расщепляет жиры, поэтому ананас часто называют фруктом №1 для похудения.
                |
                | Однако заедание позднего плотного ужина несколькими ломтиками ананаса абсолютно не поможет вам сжечь лишние калории. На сегодняшний день науке известно, что протеолитический фермент бромелайн способствует расщеплению белков, но нет никаких подтверждений его причастности к процессу распада жиров. Таким образом, ананас, и в частности содержащийся в нём фермент, может помочь лучше усвоиться белковой пище (мясо, рыба, кисломолочные продукты), но не избавит от лишнего веса.
                |
                | Помимо участия в процессе расщепления белков, бромелайн также оказывает противовоспалительное воздействие и борется с отёками.

            .col.align-self-start
                img#img.rounded-circle(src='https://avatars.mds.yandex.net/get-zen_doc/1584427/pub_5ee290fc220a2c05e5d3c7c2_5ee292d7feea096b04375070/scale_1200' alt='альтернативный текст')
            .col.align-self-start
                | Что касается витаминного коктейля, содержащегося в ананасе, то наибольшей концентрацией отличается витамин С. Будучи сильным антиоксидантом, он помогает защищать здоровые клетки, подвергающиеся атакам свободных радикалов, вносит свой вклад в защиту организма от бактериальных и вирусных инфекций, а также помогает усваиваться железу.
                |             |
                |             | Есть в составе ананаса и витамины группы В. Например, витамин В1 способствует усвоению жиров и углеводов. Кроме того, он благотворно влияет на организм при переутомлениях и нервных истощениях. Витамин В2 регулирует обмен веществ в организме, поддерживает работу зрительных органов.
                |             |
                |             | Никотиновая кислота (витамин РР), которая присутствует в составе ананаса в значительном количестве, принимает участие в углеводном и белковом обменах, стимулирует работу поджелудочной железы и регулирует секрецию её сока. Кроме того, она оказывает расширяющее действие на сосуды.
    br
    br
    .alert.alert-light(role='alert')
        | A simple light alert—check it out!

    br
    br

    #accordionExample.accordion
        .accordion-item
            h2#headingOne.accordion-header
                button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                    i.fa.fa-info(aria-hidden='true')
                    .ms-2 Main info
            #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                .accordion-body

                    code Анана́с хохла́тый[2][3], или Анана́с настоя́щий[4], или Анана́с крупнохохолко́вый[5] (лат. Ananas comosus) — многолетнее травянистое растение, вид рода Ананас (Ananas) семейства Бромелиевые (Bromeliaceae).

                    |  Ананас настоящий представлен в культуре многочисленным разнообразием сортов не только в Южной Америке, где растут представители рода Ананас, но и по всем тропическим странам всего земного шара.
        .accordion-item
            h2#headingTwo.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                    i.fa.fa-magic(aria-hidden='true')
                    .ms-2 some positive things
            #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                .accordion-body
                    code Питательная ценность спелого фрукта уникальна. Никакой другой плод не имеет такого интересного состава. Ананас представляет собой сочетание витаминов и микроэлементов, жизненно необходимых для организма (см. п. «Химический состав»), поэтому его по праву считают «тропической аптекой». Подробнее: https://foodandhealth.ru/frukty/ananas/
        .accordion-item
            h2#headingThree.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                    i.fa.fa-thermometer-full(aria-hidden='true')
                    .ms-2 Where grows
            #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                .accordion-body
                    code Ананас растет во всех странах с тропическим климатом. Гигантские плантации по выращиванию этого фрукта располагаются в Южной Америке (Бразилия), Азиатском регионе (Шри-Ланка, Таиланд) и Африке (Гана, Гвинея).
